// our variables
swidth = 60px
sheight = 60px

box_gradient(from, to) //yay box gradients
    background-color: from;
    background-image: -webkit-gradient(linear, left top, left bottom, from(from), to(to)); /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(top, from, to); /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, from, to); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, from, to); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, from, to); /* Firefox 16+, IE10, Opera 12.50+ */

body
    background: #96490b
    width: 100%
    margin: 0 auto
    padding: 0

#main
    .snake
        width: swidth
        height: sheight
        overflow: hidden
        background-image: url('/img/snake.png')
        background-position: swidth sheight
        position: relative
        top: sheight*10
        left: swidth
        z-index: 9001

#sky   
    background: url(http://www.scribbletribe.com/im/sky.png) 0 0 repeat-x;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;


#sky1   
    background: url(http://www.scribbletribe.com/im/sky1.png) 0 0 repeat-x;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;

#cloud  
    background: url(http://www.scribbletribe.com/im/cloud.png) 0 200px repeat-x;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;

#moonstars 
    background: url(http://www.scribbletribe.com/im/moonstars.png) 0 0 repeat-x;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;

#back   
    background: url(http://www.scribbletribe.com/im/back.png) 0 206px repeat-x;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;

#front  
    background: url(http://www.scribbletribe.com/im/front.png) 0 140px repeat-x;
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 100%;

#sand  
    background: url(http://www.scribbletribe.com/im/sand.png) 0 300px repeat-x;
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
